# folders
mods/
backups/
profileImage/
saves/
crash-reports/
downloads/
DrippyMenuMusic/
essential/
movies/
logs/
local/
resourcepacks/
screenshots/
schematics/
scripts/
shaderpacks/
XaeroWaypoints/
XaeroWaypoints_BACKUP032021/
XaeroWorldMap/
fancymenu_instance_data/
fancymenu_data/
spark/

# files
.curseclient
.qmenu_opened.marker
hotbar.nbt
imgui.ini
minecraftinstance.json
ops.json
servers.dat
servers.dat_old
servers.essential.dat
usercache.json
usernamecache.json
whitelist.json
patchouli_data.jsonknownkeys.txt
enigmatic_persistence.dat
patchouli_data.json
rhino.local.properties
